@{
    ViewBag.Title = "Home";
    Layout = "_Layout";
    //ViewData["Title"] = "Home Page";
}

<section class="mainColor row text">
        <div class="col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12 center mainBack">
            <img src="/MainP/user.png" width="150px" height="150px">

            <div class="mainBigText">Hello, I'm Stanley!</div>

            <div class="mainText">
                Hello everybody. I'm Stanley, a free handsome bootstrap theme coded.
                A really simple theme for those wanting to showcase their work with a cute & clean style.
            </div>

            <div class="mainText">
                Please, consider to register to our newsletter to be updated with our latest themes and freebies.
                Like always, you can use this theme in any project freely. Share it with your friends.
            </div>
        </div>
    </section>

<section class="row center">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="" class="img">
        <div class="imgName">First</div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="" class="img">
        <div class="imgName">Second</div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="" class="img">
        <div class="imgName">Third</div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="" class="img">
        <div class="imgName">Fourth</div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="" class="img">
        <div class="imgName">Fifth</div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="" class="img">
        <div class="imgName">Sixth</div>
    </div>
</section>


