@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<section class="row center">
        <div class="workBigText">
            MY WORK
        </div>

        <hr class="work">

        <div class="workText">
            Here you can see my works
        </div>
    </section>


<section class="row center">
    <div class="col-lg-4 col-sm-6">
        <img src="" class="img">
        <div class="imgName">First</div>
    </div>

    <div class="col-lg-4 col-sm-6">
        <img src="" class="img">
        <div class="imgName">Second</div>
    </div>

    <div class="col-lg-4 col-sm-6">
        <img src="" class="img">
        <div class="imgName">Third</div>
    </div>

    <div class="col-lg-4 col-sm-6">
        <img src="" class="img">
        <div class="imgName">Fourth</div>
    </div>

    <div class="col-lg-4 col-sm-6">
        <img src="" class="img">
        <div class="imgName">Fifth</div>
    </div>

    <div class="col-lg-4 col-sm-6">
        <img src="" class="img">
        <div class="imgName">Sexth</div>
    </div>

</section>

