@model dynamic

@{
    ViewBag.Title = "Work";
    Layout = "_Layout";
}

<body>
<div class="row center">
    <div class="workBigText">
        MY WORK
    </div>

    <hr class="work">

    <div class="workText">
        Here you can see my works
    </div>
</div>

<div class="row center">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="MainP/ape.jpg" class="works">
        <div class="imgName">APE</div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="MainP/raiders.jpg" class="works">
        <div class="imgName">RAIDERS</div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="MainP/vikings.jpg" class="works">
        <div class="imgName">VIKINGS</div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="MainP/yoda.jpg" class="works">
        <div class="imgName">YODA</div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="MainP/emperors.jpg" class="works">
        <div class="imgName">EMPERORS</div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="MainP/chiefs.jpg" class="works">
        <div class="imgName">CHIEFS</div>
    </div>
</div>
</body>

