@model dynamic

@{
    ViewBag.Title = "Register";
    Layout = "_Layout";
}

<body>
<form>
    <input type="text" placeholder="name"/>
    <input type="text" placeholder="email"/>
    <input type="password" placeholder="password"/>
    <input type="submit" placeholder="Submit"/>
</form>
</body>
